 #container { 
        width:100%; 
        margin:0px auto;/*主面板DIV居中*/
    }
   /*顶部面板样式*/
    #header {
        width:100%;
        height:50px;
        border:1px #F00 solid;
    }
    /*中间部分面板样式*/
    #main {
        width:100%;
        height:600px;
        border:1px #F00 solid;
    } 
    /*底部面板样式*/
    #footer {
        width:100%;
        height:80px;
        border:1px #F00 solid;
    }
    
    .cat {
        float:left;
        width:20%;
        height:100%;
        backgroud:#F44645
    }
    .content {
        float:right;
        width:80%;
        height:100%;
    }